{% extends 'music/layout.html' %}
{% block title %}Album Details{% endblock %}
{% block albums_active %} active {% endblock %}
{% block body %}
<div class="container-fluid songs-container">
	<div class="row">
		<!-- left album info -->
		<div class="col-sm-4 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
<a href="{% url 'music:detail' album.id %}">
	<img src="{{album.album_logo.url}}" class="img-responsive">
</a>
<h1>{{album.album_title}}<h6>{{album.genre}}</h6></h1>
<h2>{{album.artist}}</h2>
				</div>
			</div>
		</div>
<!-- right album info -->
<div class="col-sm-8 col-md-9">
	<ul class="nav nav-pills" style="margin-bottom: 10px;">
		<li class="active">
			<a href="{% url 'music:detail' album.id %}">View All</a>
		</li>
	</ul>
	<div class="panel panel-default">
		<div class="panel-body">
			<h3>All Songs</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Genre</th>
						<th>Artist</th>
					</tr>
					<tr>
						<th>{{album.album_title}}</th>
						<th>{{album.genre}}</th>
						<th>{{album.artist}}</th>
					</tr>

				</thead>
			</table>
		</div>
	</div>
</div>
	</div>
</div>
{% endblock %}